* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth; 
}

body {
  padding: 0;
  margin: 0;
  min-width: 320px;
  background-color: #000;
}

.header {  
  width: 100%;
  background-color: #000;
  margin: 0 auto;
  height: 60px;
}
/*
.container {
  width: calc(100% - 40px);
  max-width: 1920px;
}
*/
.header-container {
 /* width: 100%;
  max-width: 1920px;*/
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 20px;
  margin-left: 20px;
  margin-right: 20px;
  height: 60px;
}

.nav {
  margin-left: auto;
}

.nav-list {
  height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none;
}

.nav-item {
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  line-height: 2;
  color: #fff;
  padding: 0 20px;
  font-size: 20px;
  cursor: pointer;
  line-height: 50px;
  transition: 0.5s;
}

.nav-item:hover {
  color: #bdae82;
}

.nav-item.active {
  filter: invert(26%) sepia(15%) saturate(638%) hue-rotate(7deg) brightness(92%)
  contrast(87%);
}
.nav-itemюactive: :hover{
  filter:none;
}

.logo {
  width: 50px;
  height: 50px;
  padding: 0;
  transition: 0.5s;
  transition-property: color; 
  transition-duration: 1s;
  background-size: contain;
}

.logo:hover {
  filter: invert(26%) sepia(15%) saturate(638%) hue-rotate(7deg) brightness(92%)
  contrast(87%);
}

.main {
  width: 100%;
  background-image: url("../img/forest.jpg");
  background-size: cover;
  height: calc(100vh - 120px);
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-image 1s;
 }

.play {
  background-image: url("../svg/play.svg");
  width: 160px;
  height: 160px;
  padding: 0;
  background-size: cover;
  background-color: transparent;
  border: 0;  
  transition: .5s;
}

.pause {
  width: 160px;
  height: 160px;
  padding: 0;
  background-image: url("../svg/pause.svg");
  background-size: cover;
  background-color: transparent;
  border: 0;  
  transition: .5s;
}
.play:focus , .pause:focus{
  /*border: 0;*/
}

.play:hover ,.pause:hover {
  filter: brightness(.85);
}

.footer {  
  background-color: #000;
}

.footer-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: calc(100% - 40px);
  max-width: 1920px;
  margin: 0 auto;
  padding: 5px 20px;
  font-size: 20px;
}

.footer-data {
  width: 156px;
  color: #fff;
  text-decoration: none;
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  line-height: 2;
  display: flex;
  justify-content: space-between;
 }

.github {
  transition: .5s;
  color: #fff;
  text-decoration: none;
}

.github:hover {
  color: #bdae82; 
}

.rss {
  width: 135px;
  height: 50px;
  background-size: contain;
  background-repeat: no-repeat;
  background-image: url("../svg/rss.svg");
  transition: .5s;
}

.rss:hover {
  filter: invert(26%) sepia(15%) saturate(638%) hue-rotate(7deg) brightness(92%)
  contrast(87%);
}

